#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.traveldiv { border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none }
.traveldiv img
{ width: 100%; } 
.traveldiv hr 
{ width: 230px; } 
.traveldiv h5 ,.traveldiv p { margin-left: 20px; }

.pony{
    margin-top: 13px;
}
.pony h4{
    border-bottom: 1px solid white;
    padding: 8px;
    
}
.book { cursor: pointer;
} 
.book hr { margin-bottom: 10px;
} 
.modal-content { margin-top: 100px;
    text-align: center;
} 
.img_modal { display: inline-block;
} 
.p_modal { margin-top: 10px;
} 
.modal-body { text-align: center;
}